
body {
    background: #10564F;
    color: #F3F4EF;
    width: 40%;
    margin: 100px auto;
}
nav.navbar {
    padding: 0;
}
h1 {
    font-family: 'Plaster', cursive;
    font-size: 100px;

}
a, a:hover {
    text-decoration: none;
    color: inherit;
}
main {
    margin-top: 100px;
}
p {
    font-family: 'Sen', Arial, Helvetica, sans-serif;
    font-size: 40px;
    margin: 100px 0;
}
.email {
    font-weight: bold;
    text-decoration: underline;

}
.email:hover {
    text-decoration: none;
}
.footer {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}
.footer p {
    font-size: 20px;
}
.fa {
    font-size: 30px;
    height: 1em;
    margin-right: 30px;
}
@media (max-width: 1500px) {
    body {
        width: 60%;
    }
     p {
         font-size: 30px;
         margin: 60px 0;
     }
 
 }
@media (max-width: 600px) {
   body {
       width: 80%;
   }
    p {
        font-size: 20px;
        margin: 40px 0;
    }

}
